rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User profiles
    match /users/{userId} {
      allow read, write: if true;
    }

    // Problems
    match /problems/{problemId} {
      allow read, write: if true;
    }

    // Donations
    match /donations/{donationId} {
      allow read, write: if true;
    }
  }
}
